<h2>編輯書</h2>
<form action="/books/<%= book.id %>?_method=put" method="post">
    <!-- 因為新增跟編輯共用所以讓他變成共享得部分 -->
    <%- include('_form_fields') %>
    <a href="/books">取消</a>
    <button type="submit">更新</button>
</form>
