<form method="post" action="<%= url %>?_method=delete">
    <button class="btn-danger" type="submit" onclick="clicked(event)">
        刪除
    </button>
</form>

<script>
    function clicked(e) {
        if (!confirm('你確定要刪除嗎?')) {
            e.preventDefault();
        }
    }
</script>