<head>
    <a href="/">Mybrary</a>
    <ul>
        <li><a href="/authors">作者</a></li>
        <li><a href="/authors/new">新增作者</a></li>
        <li><a href="/books">書</a></li>
        <li><a href="/books/new">新增書</a></li>        
    </ul>
</head>