
<nav class="nav-container">  
    <a class="nav-title" href="/">Mybrary</a>
    <ul>
        <li class="nav-link"><a href="/authors">作者</a></li>
        <li class="nav-link"><a href="/authors/new">新增作者</a></li>
        <li class="nav-link"><a href="/books">書</a></li>
        <li class="nav-link"><a href="/books/new">新增書</a></li>        
    </ul>
</nav>
