<h1 class="title">近期上架的書籍Top10</h1>
<div class="home-wrap">
    <% books.forEach(book => { %>
        <a href="books/<%= book.id %>">
            <img src="<%= book.coverImagePath %>" >
        </a>
    <% }) %> 
</div>