<h1 class="title">最新上架</h1>
<div class="home-container">
    <% books.forEach(book => { %>
        <a href="books/<%= book.id %>">
            <img 
                height="300"  
                src="<%= book.coverImagePath %>"
            >
        </a>
    <% }) %> 
</div>