
.author-search-wrap{
    display: flex;
    flex-direction: column;
}

.author-search-wrap .author-search-form{
    display: flex;
    flex-direction: column;
}


/* .author-search-form input{
   outline: none;
   height: 45px;
   border-radius: .5rem;
   font-size: var(--text-content-normal);
   color: var(--accent-color);
   padding-left: .5rem;
   border: 1px solid var(--accent-color);
   opacity: 0.7;
   font-weight: var(--text-normal-weight);
}
.author-search-form input:focus{
    border: 2px solid var(--accent-offset-color);
} */


.author-search-form button{
    align-self: flex-end;
}

.author-search-list{
    margin-top: 5rem;
}

.author-search-list a{
    text-decoration: none;
}

.author-search-list .author-search-row{
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    margin-bottom: 1rem;
}

.author-search-row .search-row-name{
    cursor: pointer;
    color: var(--accent-color);
    font-size: var(--text-content-normal);
    font-weight: var(--text-normal-weight);
    display: flex;
    align-items: center;
}

/* 瀏覽 */
.author-show-btn-group{
    display: flex;
    column-gap: 1rem;
    margin-bottom: 2rem;
}

.author-show-list{
    display: flex; 
    flex-wrap: wrap;
    row-gap: 1rem;
}

.author-show-list a{
    width: calc(100%/4 - 1rem);
    margin-right: 1rem;
}

.author-show-list a img{
    max-width: 100%;
    height: auto;
}


@media (max-width:900px) {
    .author-show-list a{
        width: calc(100%/2 - 1rem);
        margin-right: 1rem;
    }
}

@media (max-width:500px) {
    .author-show-list a{
       width: 100%;
       margin-right: 0;
    }
}