.title{
    font-size: var(--text-title-font-size);
    color: var(--accent-color);
    margin-bottom: 1rem;
}

.remove-link-underline{
    text-decoration: none;
}

.w-max{
    width: 100% !important;
}
