.title{
    font-size: var(--text-title-font-size);
    color: var(--accent-color);
    margin-bottom: 1rem;
}

.remove-link-underline{
    text-decoration: none;
}

.w-max{
    width: 100% !important;
}

.error-msg{
    margin: 1rem 0;
    color: red;
    font-size: var(--text-link-font-size);
    font-weight: var(--text-title-weight);
}
