<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybarry</title>
</head>
<body>
    Before
    <br>
    <!-- 此語法可以動態替換掉body的內容 -->
    <%- body %>
    <br>
    After
</body>
</html>