<h2 class="title">編輯作者</h2>
<form method="post" action="/authors/<%= author.id %>?_method=put" >
    <!-- 因為新增跟編輯共用所以讓他變成共享得部分 -->
    <%- include('_form_fields') %>
    <a href="/authors" class="remove-link-underline">
        <button class="btn-danger" type="">取消</button>
    </a>
    <button class="btn-main mt-1" type="submit">更新</button>
</form>