<h2>New Author</h2>
<form action="/authors" method="post">
    <!-- 因為新增跟編輯共用所以讓他變成共享得部分 -->
    <%- include('_form_fields') %>
    <a href="/authors">Cancel</a>
    <button type="submit">Create</button>
</form>