<h2 class="title"><%= author.name %></h2>

<div class="author-show-btn-group">
    <a href="/authors/<%= author.id %>/edit">
        <button class="btn-main" type="button">
            編輯
        </button>
    </a>
    <%- include('../partials/deleteForm', {url: `/authors/${author.id}`}) %>
</div>


<div>
    <h1>書的作者</h1>
    <% books.forEach(book =>{ %>
        <img height="150" width="100" src="<%= book.coverImagePath %>">
    <% }) %>
</div>