<h2><%= author.name %></h2>

<a href="/authors/<%= author.id %>/edit">編輯</a>
<%- include('../partials/deleteForm', {url: `/authors/${author.id}`}) %>


<div>
    <h1>書的作者</h1>
    <% books.forEach(book =>{ %>
        <img height="150" width="100" src="<%= book.coverImagePath %>">
    <% }) %>
</div>